@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}

body{
font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  }